
.vertical-line{
      width: 1px; /* Line width */
      background-color: white; /* Line color */
      height: 60%; /* Override in-line if you want specific height. */
      float: right;
}

/*.card-image{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,0.5)),url("static/images/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}*/

. int{
color:black;
}
.circle-img {
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.img-circle {
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.font-size{
font-size:20px;
}
