{%extends 'base.html'%}
{%block content%}
{{block.super}}
<div class="container">
    {%for posts in post%}
    <div class="row">
        <div class="col-md-8 col-sm-8 col-lg-8">
            <!-- Card Wider -->
<div class="card card-cascade mt-4">

  <!-- Card image -->
  <div class="view view-cascade overlay">
    <img class="card-img-top  " src="{{posts.post_pic.url}}" alt="Card image cap">
    <a href="#!">
      <div class="mask rgba-white-slight"></div>
    </a>
  </div>

  <!-- Card content -->
  <div class="card-body card-body-cascade">
      <a class=" fa-lg li-ic"><i class="far fa-heart"></i></a>
      <a class="px-1 fa-lg li-ic"><i class="far fa-comment"></i></a>
      <a class="px-1 fa-lg li-ic"><i class="far fa-paper-plane"></i></a>&nbsp;&nbsp;


    <!-- Title -->
    <h5 class="card-title"><strong>{{posts.profile.name}}</strong></h5>
    <!-- Subtitle -->
    <!-- Text -->
    <p class="card-text">
        {% autoescape on %}
        {{posts.content|safe}}
        {% endautoescape %}
    </p>
    <p class="card-text">{{posts.pub_date|timesince}} AGO </p>
  </div>

</div>
<!-- Card Wider -->

<!-- Card Narrower -->

        </div>
        <div class="col-md-4 col-sm-4 col-lg-4 mt-4">
             <div class="content-section">
               <div class="media">
                  <img class="rounded-circle img-responsive circle-img" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg">
                  <div class="media-body ml-3 mt-3 ">
                     <h2 class="account-heading font-size"><strong>{{posts.profile}}</strong></h2>
                  </div>
        </div>

    </div>
        </div>
    </div>
    {% empty%}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
            <!-- Jumbotron -->
    <div class="card card-image mt-5" style="background-image:url('static/image/1.jpg'); background-size:cover; background-position:center;">
  <div class="text-white text-center py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text"><i class="fas fa-camera-retro"></i> Instagram</h5>
      <h2 class="card-title h2 my-4 py-2">share and like your best pics with your hommies</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">No posts are made yet, post now</p>
        <a href="/accounts/login" class="btn peach-gradient"><i class="fas fa-clone left"> </i>LOG IN</a>


    </div>
  </div>
</div>
<!-- Jumbotron -->
        </div>
    </div>
    {%endfor%}
</div>

{%endblock%}