<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark secondary-color">
  <a class="navbar-brand" href="{%url 'home'%}"><i class="fab fa-instagram"></i></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="vertical-line" style="height: 35px;"></div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">Instagram
          <span class="sr-only">(current)</span>
        </a>
    </ul>
     {% if user.is_authenticated %}
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fas fa-user"></i>
        </a>
      </li>

      <li class="nav-item avatar dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary"
          aria-labelledby="navbarDropdownMenuLink-55">
          <a class="dropdown-item" href="/logout">Log out</a>
          <a class="dropdown-item" href="{%url 'new-post'%}">Create Post</a>

        </div>

      </li>
    </ul>
    {%else%}
    <li style="list-style:none;">
       <a href="/accounts/login"><i class="fas fa-sign-in-alt" style="color:white;">&nbsp; Log In</i></a>
    </li>
    {%endif%}
  </div>
</nav>
<!--/.Navbar -->